.header {
  width: 100vw;
  padding:2vh 15vw;
  flex-direction: column;
  font-size: 20px;
}

h1{
  font-size:30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin :10px;
}

.nav-left {
  display:flex;
  letter-spacing: 1px;
}
.nav-right { 
  display: flex;
  letter-spacing: 1px;
}

.nav-left li { 
  margin-right: 20px;
}

.nav-right li { 
  margin-right: 20px;
}

.brand-list {
  text-decoration: none;
}
.category-list {
  text-decoration: none;
}
.user-nickname {
  text-decoration: none;
}
.logout {
  text-decoration: none;
}
.login {
  text-decoration: none;
}
.sign-up {
  text-decoration: none;
}
