.car-new-submit {
  width: 60%;
  margin: 0 auto;
  padding: 40px 40px 40px 250px;
  text-decoration: none;
  display: flex;
}

.save-btn {
  width: 100px;
  margin-left: 20px;
  margin-right: 10px;
  background: rgb(134, 214, 241);
  border: 1px solid rgb(134, 214, 241);
  color: #fff;
  line-height: 48px;
  font-size: 18px;
  cursor: pointer;
  border-radius:30px;
  text-align: center;
}

.back-btn {
  width: 10%;
  background: lightgrey;
  border: 1px solid lightgrey;
  color: #fff;
  line-height: 48px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  border-radius:30px;
}

